body {
    background: #d2d2d2c1 url(imagens/fundo.png);
    font: 16px Arial, helvetica, sans-serif;
    margin: auto;
}
#principal{
    width: 900px;
    margin: auto;

}
#menu{
    background: #c5c5b2;
    display: flex;
    gap: 25px;
}
#navegacao{
    padding: 0;
    background: #828271;
    width: 80%;
    margin-left: 20px ;
}
ul li{
    float: left;
    padding-right: 20px;
    list-style: none;
    line-height: 25px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
a:hover{
    color: #828271;
    background: #c5c5b2;
}


#conteudo{
    background: #e8e8d9;
    padding: 10px;
}
h1, p{
    margin-left: 10px;
}
h1{
    color: #828271;
    font-size: 1.2em;
}
.img-campanha{
    border: 10px solid #c3c3ae;
}
#rodape{
    text-align: center;
}